.Navigation {
  z-index: 1050;
  position: relative;
  background-color: white;
}

.dnavigation {
  padding: 0;
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 65rem;
  width: 90%;
  align-items: center;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: 56px;
  background: 0 0;
  z-index: 1009;
  color: black;
  font-weight: 600;
  background-color: white;
  font-size: 15px;
  text-transform: uppercase;
}


.desktop {
  padding-right: 0.5rem;
  align-items: center;
  display: flex;
}

.dItem {
  margin-left: 1.2em;
}

.imglogo{
  height: 25px;
  padding-top: 5px;
}

.dnavigation a {
  color: black;
  text-decoration: none;
}

.leftdnav {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  line-height: 1.9;
  list-style: none;
  padding-left: 0;
}

.rightdnav {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: end;
  line-height: 2;
  list-style: none;
  padding-left: 0;
}


@media screen and (max-width: 768px) {
  .leftdnav {
    display: none;
  }
  .rightdnav {
    display: none;
  }
  .after{
    display: none;
  }
  .dnavigation{
    grid-template-columns: auto;
    justify-content: center;
  }
}

/*Bottom Nav */

.MobileNav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.mItem {
  font-size: 0.6rem;
  letter-spacing: 0.0075rem;
  text-decoration: none;
  color: black;
}
 
.mnavimg {
  height: 20px;
  display: block;
  padding: 0;
  margin: 0 auto;
  margin-top: 3px;
}

.mText {
  font-size: 12px;
}

.badge {
  position: absolute;
  bottom: 25px;
  right: 27.3%;
  padding: 1px 6px;
  font-size: 9px;
}

@media screen and (min-width: 768px) {
  .MobileNav {
    display: none;
  }
}
