.container{
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
  font-family: 'Lato', sans-serif !important; 
}

.container h3 {
  text-align: center;
  text-transform: uppercase;
}

.inner {
  display: grid;
  grid-template-columns: 36% 36% 36% 36% 36% 36% 5%;
  overflow: scroll;
  grid-gap: 20px;
}

.inner::-webkit-scrollbar {
  display: none;
}

.image {
  width: 100%;
  
}

.product {
  padding-top: 10px;
  width: 100%;
  transform: translateX(15%);
}

.product img {
  width: 100%;
  box-shadow:
  0.1em 0.2em 0.9em rgba(0.1, 0.1, 0.1, 0.1);
}

.price span {
  font-weight: 700;
  color: black;
  font-size: 12px;
}


.price a{
  font-weight: 700;
  color: black;
  font-size: 12px;
}

.title a{
  color: black;
  font-size: 12px;
}

@media screen and (min-width: 800px) {
  .inner {
    width: calc(95% + 40px);
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    padding: 0 20px;
  }

  .inner a{
    font-size: 14px;
  }

  .inner span{
    font-size: 14px;
  }

  .product {
    transform: translateY(0px)
  }
  .container {
    padding: 30px 0;
  }
  .container h3 {
    padding-bottom: 10px;
  }
}