.bags .heading {
  text-align: center;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
  transform: translateY(-5px);
  padding: 5px 0;
}

.banner {
  width: 100%;
  height: 150px;
  object-fit: cover;
}


.container{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 25px;
  padding-top: 10px;
  max-width: 1080px;
}

.container h2 {
  text-align: center;
}

.filter {
  max-width: 1080px;
  padding: 20px 0;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
}
.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.inner::-webkit-scrollbar {
  display: none;
}

.image {
  width: 100%;
}

.product {
  width: 100%;
}

.image img {
  width: 100%;
  box-shadow:
  0.1em 0.2em 0.9em rgba(0.1, 0.1, 0.1, 0.1);
}

.content a {
  font-size: 12px;
}

.price a{
  font-weight: 700;
  font-size: 14px;
}

.title a{
  font-size: 14px;
}

.price {
  margin-bottom: 5px;
}

@media screen and (min-width: 800px) {
  .banner{
    height: 250px;
    object-fit: cover;
  }

  .filter{
    max-width: 1080px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .inner {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1080px;
    margin: 0 auto;
  }
}