.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.container h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
}